<section class="row title">
  <div class="col s12">
    <div class="center">
      <h3>{{ AC.title }}</h3>
      <hr>
    </div>
  </div>
</section>

<section class="container row">
  <div class="col offset-s2 s8">
    <form name="exampleForm" ng-submit="AC.registerUser(AC.user)" novalidate>
      <div class="input-field col s6">
        <input name="first_name" id="first_name" type="text" ng-model="AC.user.first_name">
        <label for="first_name">First Name</label>
      </div>

      <div class="input-field col s6">
        <input name="last_name" id="last_name" type="text" ng-model="AC.user.last_name">
        <label for="last_name">Last Name</label>
      </div>

      <div class="input-field col s12">
        <input name="username" id="username" type="text" ng-class="{'valid': exampleForm.username.$valid, 'invalid': exampleForm.username.$invalid && !exampleForm.username.$pristine}" ng-model="AC.user.username" ng-minlength="3" ng-maxlength="12" required >
        <label for="username">Username</label>

        <blockquote ng-show="exampleForm.username.$error.minlength || exampleForm.username.$error.maxlength">
          Username must be between 3-12 characters
        </blockquote>
      </div>

      <div class="input-field col s12">
        <input name="password" id="password" type="password" ng-class="{'valid': exampleForm.password.$valid, 'invalid': exampleForm.password.$invalid && !exampleForm.password.$pristine}" ng-model="AC.user.password" ng-minlength="3" required >
        <label for="password">Password</label>

        <blockquote ng-show="exampleForm.password.$error.minlength">
          Password must be at least 3 characters
        </blockquote>
      </div>

      <div class="input-field col s12">
        <input type="submit" class="btn" value="Register" ng-class="{'disabled': exampleForm.$invalid, 'waves-effect waves-light': exampleForm.$valid}" ng-click="exampleForm.$setPristine()">

        <blockquote class="right" ng-show="(exampleForm.username.$dirty && exampleForm.username.$error.required) || (exampleForm.password.$dirty && exampleForm.password.$error.required)">
          * Required
        </blockquote>
      </div>
    </form>
  </div>
</section>
